@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
:root{
    --light-blue: #00FFF5;
    --dashed-border: #0066FF;
    --main-white: #FFFFFF;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #061427;
}
.text-center{
    text-align: center;
}
.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
.header-navigation,
.header-navigation-navbar{
    display: flex;
    align-items: center;
}
.header-navigation-navbar{
    justify-content: space-between;
    padding: 57px 0;
}
.header-navigation{
    gap: 55px;
}
.logo, .header-navigation li a,
.header-navigation-navbar button,
.section-title,
.section-1-text p,
.section-1-text h3
{
    font-family: nunito, sans-serif;
    font-style: normal;
    color: var(--light-blue);
}
.logo{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
}
/* .header-navigation li:hover{
    
} */
.header-navigation li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    
}
.header-navigation-navbar button{
    border: 1px dashed var(--dashed-border);
    border-radius: 30px;
    padding: 15px 37px 12px 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    background: initial;
}
/* Burger menu */
.burger-menu:hover,
.header-navigation-navbar button:hover,
.dropped-burg-menu-nav ul li:hover,
.section-1-picture img:hover,
button:hover,
img:hover
{
    cursor: pointer;
}
.burger-menu-container{
    position: relative;
    display: none;
    max-width: 107px;
}
.burger-menu{
    width: 18px;
}
.burger-menu div{
    border: 2px solid var(--light-blue);
    width: 100%;
}
.burger-menu div:nth-child(2){
    margin: 6px 0;
}
/* Dropped burger menu */
#dropped-burger-menu{
    display: none;
    background: var(--main-white);
    border-radius: 6px 0 0 6px;
    position: absolute;
    top: 35px;
    right: 0;
}
.dropped-burg-menu-nav ul{
    display: flex;
    flex-direction: column;
    max-width: 107px;
}
.dropped-burg-menu-nav ul li:hover{
    background-color: var(--light-blue);
    border-radius: 6px 0 0 6px;
}
.dropped-burg-menu-nav ul li{
    width: 100%;
    padding: 10px 50px 6px 12px;
}
.dropped-burg-menu-nav ul a{
    color: var(--light-blue);
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
}
.dropped-burg-menu-nav ul a:hover {
    color: var(--main-white);
}
/* For First section */
.section-title{
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 168px;
    margin-bottom: 40px;
}
.first-section-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1440px;
    width: 90%;
}
.section-1-picture{
    align-self: flex-start;
    padding: 35px 36px;
    border: 1px dashed var(--dashed-border);
    border-radius: 30px;
}
.section-1-picture img{
    transition-duration: 2s;
}
.section-1-picture img:hover,
.my-work img:hover{
    transform: scale(1.01);
    transition-duration: 2s;
}
.my-work{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-1-text{
    max-width: 607px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.section-1-text h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}
.section-1-text p{
    font-size: 20px;
    line-height: 27px;
    margin: 55px 0 60px 0;
}
.work-together-button button{
    font-family: nunito, sans-serif;
    font-style: normal;
    background: var(--light-blue);
    border-radius: 30px;
    padding: 12px 43px 12px 44px;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-white);
}
/* Scroll down button div */
.scroll-down-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 28px; */
    margin-top: 167px;
    max-width: 200px;
}
.scroll-down-button form{
    border-radius: 30px;
    background: linear-gradient( #18FF3D00 0%, #00FFF5 100%);
    border: none;
    margin-bottom: 28px;
    animation-name: my-anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

.scroll-down-button form button{
    border-radius: 30px;
    margin: 2px;
    border: 1px solid ;
    background-color: #061427;
    padding: 47px 14px 17px 14px;
   
}
.scroll-down-button form button svg{
    transition-duration: 1.7s;
}
.scroll-down-button h3{
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: var(--dashed-border);
    text-transform: capitalize;
}
/* First Section contacts div  */
.section-1-contacts{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.section-1-contacts-line{
    height: 200px;
    border: 1px solid rgba(0, 102, 255, 0.6);
}
/* Second section, my work */
.second-section-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 71px;
    margin-top: 40px;
}
.my-work{
    padding: 38px 33px 37px 33px;
    border: 1px dashed var(--dashed-border);
    border-radius: 30px;
    position: relative;
}
.hovered-work{
    display: none;
    position: absolute;
}
.hovered-work button{
    font-family: nunito, sans-serif;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--dashed-border);
    color: var(--main-white);
    border-radius: 30px;
    padding: 12px 73px;
    border: none;
}
.my-work:hover .hovered-work{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    width: 300px;
    height: 300px;
}
.my-work img{
    transition-duration: 2s;
    cursor: pointer;
}
/* My work button */
.my-work-button{
    grid-column: 2/3;
    text-align: center;
}
.my-work-button button{
    background: var(--light-blue);
    border-radius: 13px;
    font-family: nunito;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 81px 12px 82px;
    color: var(--main-white);
}
/* Third section */
.third-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.experience-text-container{
    display: flex;
    align-items: center;
    gap: 29px;
}
.experience-text-container h3{
    font-size: 20px;
    line-height: 27px;
    color: var(--main-white);
    transform: rotate(-90deg);
}
.experience-text{
    display: flex;
    align-items: center;
    gap: 60px;
    border: 1px dashed var(--dashed-border);
    border-radius: 30px;
    padding: 30px 62px 16px 54px;
}
.experience-text-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}
.experience-text-left h4{
    font-family: nunito, sans-serif;
    font-style: normal;
    color: var(--main-white);
    text-transform: capitalize;
}
.experience-text-left h4:nth-child(1){
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.experience-text-left h4:nth-child(2){
    font-family: 500;
    font-size: 20px;
    line-height: 27px;
}
.experience-text-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
}
.experience-text-right ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    max-width: 615px;
    list-style: circle;
    color: var(--main-white);
}
.experience-text-right ul li{
    font-family: nunito;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-white);
}
.experience-text-right a{
    font-family: nuniton, sans-serif;
    font-style: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-white);
    align-self: flex-end;
}
/* Fourth section */
.fourth-section-container,
.contact-top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-section-container{
    gap: 76px;
    margin-bottom: 145px;
}
.contact-top-div{
    gap: 24px;
}
.contact-top-div p,
.contact-top-div h3{
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--main-white);
}
.contact-top-div h3{
    font-size: 28px;
    line-height: 38px;

}
.contact-top-div p{
    font-size: 22px;
    line-height: 30px;
}
/* Contact middle division */
.contact-middle-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 945px;
    gap: 296px;
}
.social-media-links-div{
    padding: 46px 31px 38px 33px;
    border: 1px dashed var(--dashed-border);
    border-radius: 30px;
}
.contact-navigation ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}
.contact-nav-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}   
.contact-nav-top li:nth-child(1) address:before{
    content: url(../images/section-4-images/small-icons/mail-icon.png);
}
.contact-nav-top li:nth-child(2) address::before{
    content: url(../images/section-4-images/small-icons/phone-call-icon.png);
}
.contact-nav-top li address:before{
    display: inline-block;
    vertical-align: bottom;
    max-height: 24px;
    margin-right: 90px;
} 
.contact-nav-top li a{
    font-family: nunito, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--main-white);
}
.contact-nav-bottom{
    display: flex;
    align-items: center;
    gap: 65px;
    
}
/* Contacts button */
.contact-bottom-div a button{
    font-family: nunito, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-white);
    padding: 12px 85px;
    background: var(--light-blue);
    border-radius: 30px;
    border: none;
}
/* My recent work page */
.recent-work-container,
.videos-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 266px;
}
.work{
    display: flex;
    align-items: center;
    gap: 122px;
}
.work-description-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 128px;
}
.work-description-text{
    font-family: nunito, sans-serif;
    font-style: normal;
    color: var(--light-blue);
}
.work-description-text h2{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
}
.work-description-text span,
.work-description-text h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}
.work-description-text span{
    line-height: 28px;  
}
.work-description-text h3{
    line-height: 27px;
}
.full-work-link button{
    font-family: nunito, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-white);
    background-color: var(--light-blue);
    padding: 12px 60px;
    border-radius: 30px;
}
.text-center-inner{
    margin-left: 50%;
    transform: translate(-50%);
}
@keyframes my-anime{
    0%{transform: translateY(0%);}
    50%{transform: translateY(20%);}
    100%{transform: translateY(0%);}
}
@media screen and (max-width: 1175px) {
    .contact-middle-div{
        flex-direction: column;
        gap: 100px;
    }   
}
@media  screen and (max-width: 600px){
    .header-navigation{
        display: none;
    }
    .logo{
        font-size: 16px;
    }
    .header-navigation-navbar button{
        font-size:10px;
        line-height: 14px;
        padding: 9px 21px 7px 23px;
        margin-right: 26px;
        background: initial;
    }
    .burger-menu-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }
     /*For first section  */
     .first-section-container{
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }
     .section-1-picture{
         align-self: center;
         margin-top: 26px;
     }
     .section-1-picture img{
         width: 139px;
         height: 168px;
     }
     .scroll-down-button{
        display: none;
        
     }
     .section-1-text h3{
        font-size: 14px;
        line-height: 19px;
     }
     .section-1-text p{
        font-size: 12px;
        line-height: 16px;
        margin: 13px 0 22px 0;
     }
     .work-together-button button{
        padding: 7px 22px 6px 23px;
        font-size: 0.5em;
        line-height: 12px;
     }
     .section-1-contacts{
         flex-direction: row;
         margin-top: 18px;
     }
    .section-1-contacts div{
        display: none;
    }
    .section-1-contacts img{
        width: 15px;
        height: 16px;
    }
    /* For second section */
    .second-section-container{
        gap: 21px;
        margin-top: 26px;
    }
    .my-work{
        padding: 11px 9px 11px 9px;
    }
    .hovered-work button{
        font-size: 0.5em;
        line-height: 15px;
        border-radius: 30px;
        padding: 5px 7px;
    }
    .my-work:hover .hovered-work{
        border-radius: 9px;
        width: 90px;
        height: 90px;
    }
    .my-work img{
        width: 90px;
        height: 90px;
    }
    .my-work-button button{
        font-size: 9px;
        line-height: 12px;
        padding: 7px 35px 6px 36px;
    }
    /* Third section */
    .third-section-container{
        gap: 15px;
    }
    .experience-text-container{
        gap: 11px;
    }
    .experience-text-container h3{
        font-size: 8px;
        line-height: 11px;
    }
    .experience-text{
        gap: 12px;
        padding: 7px 22px 6px 11px;
    }
    .experience-text-left{
        gap: 4px;
    }
    .experience-text-left h4:nth-child(1){
        font-size: 12px;
        line-height: 16px;
    }
    .experience-text-left h4:nth-child(2){
        font-size: 10px;
        line-height: 14px;
    }.experience-text-right ul{
        gap: 0;
        max-width: 205px;
    }
    .experience-text-right ul li:nth-child(2){
        list-style-type: none;
    }
    .experience-text-right ul li{
        font-size: 8px;
        line-height: 11px;
    }
    .experience-text-right a{
        font-size: 6px;
        line-height: 8px;
    }
    /* Contact me */
    .fourth-section-container{
        gap: 46px;
        margin-bottom: 46px;
    }
    .contact-top-div{
        gap: 8px;
    }
    .contact-top-div h3{
        font-size: 16px;
        line-height: 22px;
    }
    .contact-top-div p{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    /* Contact middle div */
    .contact-middle-div{
        gap:22px
    }
    .social-media-links-div{
        padding: 22px 14px 17px 15px;
    }
    .contact-navigation ul{
        gap: 16px;
    }
    .contact-nav-top{
        gap: 15px;
    }
    .contact-nav-top li address::before,
    .contact-nav-bottom img{
        max-width: 20px;
        max-height: 20px;
    }
    .contact-nav-top li address:before{
        margin-right: 16px;
    }
    .contact-nav-top li a address{
        font-size: 15px;
        line-height: 14px;
    }
    .contact-nav-bottom{
        gap: 26px;
    }
    .contact-image-div img{
        max-width: 190px;
        max-height: 114px;
    }
    /* Contacts button */
    .contact-bottom-div a button{
        font-size: 9px;
        line-height: 12px;
        padding: 7px 37px 6px 38px;
    }
    /* My recent work */
    .recent-work-container,
    .videos-container{
        gap: 19px;
        margin-bottom: 96px;
    }
    .work{
        gap: 20px;
    }
    .work-description-div{
        gap: 36px;
    }
    .work-description-text h2{
        font-size: 10px;
        line-height: 14px;
    }
    .work-description-text span,
    .work-description-text h3{
        font-size: 8px;
    }
    .work-description-text span{
        line-height: 8px;
    }
    .work-description-text h3{
        line-height: 11px;
    }
    .full-work-link button{
        font-size: 6px;
        line-height: 8px;
        padding: 4px 20px;
    }
    .work-image-div img{
        width: 98px;
        height: 98px;
    }
}